.doc-main {
	padding: 3rem;
	overflow: auto;
}
.doc-main-item {
	display: flex;
	flex-direction: column;
}
.main__example {
	border: 2px solid black;
	display: flex;
	font-size: 1.6rem;
	border-radius: 1rem;
	padding: 1rem;
}
.main__code {
	box-sizing: border-box;
	width: 100%;
	max-height: 300px;
	padding: 1rem 0;
	margin: 2rem 0;
	background-color: #fafafa;
	overflow: auto;
}
.feature__list {
	display: flex;
	width: 100%;

	flex-direction: column;
	align-items: flex-start;
	margin: 2rem 0;
}
.main__code iframe {
	width: 100%;
	border: none;
}
.code-bg {
	background-color: var(--color-grey-light-1);
}
.row-container {
	align-items: center;
}
