.doc-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 5fr 1.2fr;
	grid-template-areas:
		'nav nav nav nav nav'
		'sidebar main main main main'
		'sidebar main main main main'
		'footer footer footer footer footer';
	/* grid-gap: 0.4rem; */
}
.doc-nav {
	/* background-color: aqua; */
	grid-area: nav;
	/* position: sticky; */
	/* top: 0; */
}
.doc-sidebar {
	grid-area: sidebar;
	background-color: var(--color-grey-light-1);
	/* position: sticky; */
}
.doc-main {
	/* background-color: green; */
	grid-area: main;
}

.doc-footer {
	/* background-color: yellow; */
	grid-area: footer;
	position: relative;
	z-index: -1;
	/* position: sticky; */
	/* bottom: 2px; */
}
@media only screen and (max-width: 800px) {
	html {
		font-size: 50%;
	}
}
@media only screen and (max-width: 550px) {
	.doc-container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
		grid-template-areas:
			'nav'
			'sidebar'
			'main'
			'main'
			'main'
			'main'
			'footer';
	}
}
